/* bodys*/
.grilla{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
  "menuizquierda1 contenido"
  "menuizquierda2 contenido"
  "menuizquierda3 contenido"
  "menuizquierda4 contenido"
  "menuizquierda5 contenido"
  "menuizquierda6 contenido"
  "menuizquierda7 contenido"
  "menuizquierda8 contenido"
  "menuizquierda9 contenido"
  "menuizquierda10 contenido"
  "menuizquierda11 contenido"
  "menuizquierda12 contenido"
  "menuizquierda13 contenido"
  "menuizquierda14 contenido"
  "menuizquierda15 contenido";
  font-family: 'Permanent Marker', cursive;
  grid-column-gap: 20px;
}

header{
  font-size: 30px;
  font-family: cursive;
}


/* navbar */

#navbar{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 30%;
  height: 100%;
  font-size: 20px;
  color: black;
  font-family: 'Permanent Marker', cursive;
  overflow: scroll;
}

.puntitos{
  list-style-type: none;
}

.atributosmenuizquierda{
  border-top: solid;
  border-top-color: black;
  padding: 0px 35px 0px 0px;
  margin-left: -40px;
  width: 100%;
  text-align: center;
  border-width: 1.5px;
}

.menuizquierda1{
  grid-area: menuizquierda1;
  text-decoration: none;
  font-family: 'Shadows Into Light', cursive;
  margin-left: 80px;
  width: 100%;
}
.menuizquierda2{
  grid-area: menuizquierda2;
  text-decoration: none;
  color:black;
}
.menuizquierda3{
  grid-area: menuizquierda3;
  text-decoration: none;
  color:black;
}
.menuizquierda4{
  grid-area: menuizquierda4;
  text-decoration: none;
  color:black;
}
.menuizquierda5{
  grid-area: menuizquierda5;
  text-decoration: none;
  color:black;
}
.menuizquierda6{
  grid-area: menuizquierda6;
  text-decoration: none;
  color:black;
}
.menuizquierda7{
  grid-area: menuizquierda7;
  text-decoration: none;
  color:black;
}
.menuizquierda8{
  grid-area: menuizquierda8;
  text-decoration: none;
  color:black;
}
.menuizquierda9{
  grid-area: menuizquierda9;
  text-decoration: none;
  color:black;
}
.menuizquierda10{
  grid-area: menuizquierda10;
  text-decoration: none;
  color:black;
}
.menuizquierda11{
  grid-area: menuizquierda11;
  text-decoration: none;
  color:black;
}
.menuizquierda12{
  grid-area: menuizquierda12;
  text-decoration: none;
  color:black;
}
.menuizquierda13{
  grid-area: menuizquierda13;
  text-decoration: none;
  color:black;
}
.menuizquierda14{
  grid-area: menuizquierda14;
  text-decoration: none;
  color:black;
}
.menuizquierda15{
  grid-area: menuizquierda15;
  text-decoration: none;
  color:black;
  border-bottom: solid;
  border-bottom-color: black;
  padding: 0px 153px 23px 130px;
  border-width: 1.5px;
}

ul > li{
  margin-top: 20px;
  border-color: black;
}

/* main */

#main-doc{
  grid-area: contenido;
  font-family: 'Merriweather', serif;
  font-size: 13px;
}

#main-doc header{
  margin-bottom: 20px;
}

code{
  display: block;
  width: 630px;
  background-color: rgba(125, 125, 125, 0.1);
  padding: 20px 200px 20px 20px;
  font-family: 'Kalam', cursive;
}
